# Supabase Config
# Duplicate this file to '.env' and replace with your actual Supabase project values.
# Expo automatically loads variables starting with EXPO_PUBLIC_ on both web and mobile.

EXPO_PUBLIC_SUPABASE_URL=https://nadwittkdthoffewryzz.supabase.co/rest/v1/
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hZHdpdHRrZHRob2ZmZXdyeXp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwMjQzMjQsImV4cCI6MjA5NzYwMDMyNH0.cUChkcqNPiQ9L7Z5cAQGcLoVwFaGJlaZNqkIeCd8ZLs
